@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { background-color: #FFF5EE; }

b {
	font-family: open sans;
	font-size: 50px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 57.5%;
	transform: translate(-50%, -50%);
}

img {
	border-radius: 5%;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
}
